# 二进制 / 预编译
*.exe
*.dll
*.pyd
*.asi
*.pyc

# AI 模型 (不提交)
faster-whisper-win/

# 缓存
_cache/


# VapourSynth 插件
vs-plugins/
vs-coreplugins/

# 安装器
installer/

# 其他
*.log
*.db
*.lnk
cookies.backup*.txt
node_modules/
.qoder/repowiki/zh/meta/repowiki-metadata.json

portable_config/recent.json
portable_config/saved-props.json
portable_config/trakt_config.json
portable_config/trakt_history.json
config.json
